
@{
    ViewData["Title"] = "GetReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetReport</h2>
<script>
    function GetClientReport() {
        window.open('/{ControllerName}/GetReport, "_blank");
};
</script>

