.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
    background-color: #111;
}

/* Control the right side */
.right {
    right: 0;
    color: #D3D6FF;
    /*background-color: rgba(0,0,255,0.3);*/
    /*box-shadow: inset 1px 0 0 hsla(0, 100%, 50%, 0.2);*/
    /*box-shadow: inset 1px 0 0 hsla(50, 100%, 50%, 0.2);*/
}

#demo tr {
    color: black;
}

object {    
    float: left;
    margin-top: 30px;
    width: 100%;
    height: 100%;
}
/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
    width: 150px;
    border-radius: 50%;
}

.DelButton {
    display: inline;
    background-color: firebrick;
}

.submitButton{
   margin-top:10px;
}
/*a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}*/
/*body {
    color: white;
    font: 14px Helvetica, sans-serif;
    background: hsla(60, 59%, 65%, 0.1);
}*/
/*#page-wrap {
    width: 500px;
    margin: 100px auto;
}*/
/*h1 {
    font: 26px Georgia, Serif;
    margin: 0 0 10px 0;
}*/
/*form {
    margin: 50px 0 0 0;
}*/
/*label {
    font: bold 20px Helvetica, sans-serif;
    display: block;
    float: left;
    text-align: right;
    padding: 5px 10px 0 0;
    width: 140px;
}*/
/*input[type=text] {
    float: left;
    width: 40px;
    font: bold 20px Helvetica, sans-serif;
    padding: 3px 0 0 0;
    text-align: center;
}*/
/*form div {
    overflow: hidden;
    margin: 0 0 5px 0;
}*/
.button {
    margin: 0 0 0 5px;
    text-indent: -9999px;
    cursor: pointer;
    width: 29px;
    height: 29px;
    float: left;
    text-align: center;
    background: url('images/buttons.png') no-repeat;
}

.dec {
    background-position: 0 -29px;
}

.buttons {
    padding: 20px 0 0 140px;
}
